@import '@assets/common.module.scss';

.fullScreen{
	composes: wFull;
	// composes: hFull;
	composes: fc;
	position: absolute;
	top: 0;
	left: 0;
  z-index: 1000;
  height: 3000px;
}
.loginBgTop{
	composes: flex;
	composes: fdc;
	composes: aic;
	composes: jcb;
	composes: ptb100;
	width: 1219px;
	height: 577px;
}
.loginBgBottom{
    background-color: #f0f2f5;
}
.loginLogo{
	width: 121px;
	height: 83px;
}
.loginContent{
	composes: w400;
	composes: bgWhite;
	composes: flex;
	composes: fdc;
	composes: jcb;
	padding: 60px 57px 57px;

	height: 264px;
	box-shadow: 0 4px 12px 0 gray;
	border-radius: 4px;
}
