@import '@assets/common.module.scss';

.menuTitle{
	composes: pl20;
	composes: ptb14;
	composes: fs14;
}

.menuLogo{
  height: 24px;
  border-radius: 3px;
  vertical-align: middle;
  composes: mr10
}
