.flex{
	display: flex;
}
.f1{
	flex: 1;
}
.fdr{
	flex-direction: row;
}
.fdc{
	flex-direction: column;
}
.jcc{
	justify-content: center;
}
.jcb{
	justify-content: space-between;
}
.aic{
	align-items: center;
}
